on:
  workflow_dispatch:
  push:
    branches:
    - 'main'
    - 'releases/**'
    - 'dev'
    paths:
      - 'setup.py'
    
jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    # permissions:
    #  id-token: write 
    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.x"
    
    - name: Build source and wheel distributions
      run: |
        python -m pip install --upgrade build twine
        python -m build
        twine check --strict dist/*
    
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
      
